<div class="container">
  <div class="row">
    <div class="kokuban-s6 mt-5">
      <h3 class="text-white edit-page-heading"><strong>ユーザー情報編集</strong></h3>
      <%= form_with model: @customer, url: public_customer_path, local: true do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        <div class="field row form-group mt-3">
          <%= f.label :プロフィール画像, class: "col-12" %>
          <%= f.attachment_field :profile_image %><br>
        </div>

        <div class="field row form-group">
          <%= f.label :ユーザー名, class: "col-12" %>
          <%= f.text_field :name %><br>
        </div>

        <div class="field form-group row">
          <%= f.label :自己紹介（100文字以内）, class: "col-12" %>
          <%= f.text_area :introduction, autofocus: true %><br>
        </div>
          <div class="field form-group row">
            <%= f.label :メールアドレス, class: "col-12" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %><br>
          </div>

          <div class="row">
            <%= f.submit "編集内容を保存" %>
          </div>
      <% end %>
    </div>
  </div>
</div>