<div class="container" style="margin-top: 50px;">
  <div class="row">
    <div class="kokuban-s12">
      <h4 class="text-body text-center border-bottom h3 mt-3">
        <% if @keywords.empty? %>
          <%= link_to public_customer_path(@customer) do%>
            <%= attachment_image_tag @customer, :profile_image, size: "50x50", fallback: "no_image.jpg", class: "customer_profile_image" %>
            <%= @customer.name %>
          <% end %>
          さんのすべての投稿<span class="post-search-count ml-3">(<%= @posts.count %>件)</span><br>
          <div class="mb-3"><%= render 'public/search/form' %></div>
        <% else %>
          <%= link_to public_customer_path(@customer) do%>
            <%= attachment_image_tag @customer, :profile_image, size: "50x50", fallback: "no_image.jpg", class: "customer_profile_image" %>
            <%= @customer.name %>
          <% end %>
          さんの"<%= @keywords %>" を含む投稿<span class="post-search-count ml-3">(<%= @posts.count %>件)</span><br>
          <div class="mb-3"><%= render 'public/search/form' %></div>
        <% end %>
      </h4>
      <% if @posts.empty? %>
        <h5 class="text-center">該当する投稿はありません</h5>
      <% else %>
        <% @posts.each do |post| %>
          <span>投稿日</span><%= post.created_at.strftime('%Y/%m/%d') %>
          <%= link_to public_post_path(post.id) do %>
            <p class="mt-3 h5"><%= post.title %></p><br>
          <% end %>
          <div class="fas fa-tag border-bottom tag-name pb-3">
            <% post.tags.each do |tag| %>
              <%= link_to tag.name, public_tag_search_path(tag_id: tag.id) %><%="," %>
            <% end %><br>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>