<div class="container">
  <div class="text-success mt-1"><strong><%= flash[:success] %></strong></div>
  <div class="text-danger mt-1"><strong><%= flash[:danger] %></strong></div>
  <div class="row">
    <div class="kokuban-s5 mt-5 col-md-3">
      <h3 class="text-white my-page-heading">プロフィール</h3><br>
      <%= attachment_image_tag @customer, :profile_image, size: "100x100", fallback: "no_image.jpg", class: "mt-3 customer_plofile_image" %><br>
      <%= @customer.name %><br>
      <p class="mt-3">自己紹介</p>
      <%= @customer.introduction %><br>
      <% if @customer == current_customer %>
        <%= link_to "プロフィールを編集する", edit_public_customer_path, class: "font-weight-bold text-success btn btn-light mt-3", style: "text-decoration: none;" %>
      <% end %>
    </div>
    <div class="kokuban-s5 col-md-8 mt-5 offset-1">
      <span class="text-white h3">最新5件の投稿</span><br>
      <% @posts.each do |post| %>
        <%= link_to public_post_path(post.id) do %>
          <div class="text-white mypage-post-title h5 mt-3" style="width: 100%;"><span class="text-white-link"><%= post.title %></span></div><br>
        <% end %>
      <% end %>
      <%= link_to "過去の投稿をすべて見る", public_customers_post_all_path, class: "mt-3 text-success btn btn-light font-weight-bold" %>
    </div>
  </div>
</div>
