<div class="container contact-form contact-confirm">
  <div class="row mt-5">
    <h5 class="col-12 text-body mt-3">お名前</h5>
    <div class="col-12 contact-contents"><%= @contact.name %></div>
    <h5 class="col-12 mt-3 text-body">メールアドレス</h5>
    <div class="col-12 contact-contents"><%= @contact.email %></div>
    <h5 class="col-12 mt-3 text-body">件名</h5>
    <div class="col-12 contact-contents"><%= @contact.title %></div>
    <h5 class="col-12 mt-3 text-body">お問い合わせ内容</h5>
    <div class="col-12 contact-contents"><%= @contact.body %></div>
    <%= form_for(@contact, url: public_contacts_path) do |f| %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :email %>
      <%= f.hidden_field :title %>
      <%= f.hidden_field :body %>
      <div class="my-3 mr-3"><%= f.submit '送信' %></div>
    <% end %>
    <%= form_for @contact, url: public_back_path do |f| %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :email %>
      <%= f.hidden_field :title %>
      <%= f.hidden_field :body %>
      <div class="my-3"><%= f.submit '入力画面に戻る' %></div>
    <% end %>
  </div>
</div>