<div class="contact-form mt-5">
  <%= form_for(@contact, url: public_confirm_path) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
    <div class="form-group">
      <%= f.label :name, 'お名前*' %>
      <%= f.text_field :name, autofocus: true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :email, 'メールアドレス*' %>
      <%= f.text_field :email, autofocus: true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :title, '件名*' %>
      <%= f.text_field :title, autofocus: true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :body, 'お問い合わせ内容*' %>
      <%= f.text_area :body, size: '9x9', class: 'form-control' %>
    </div>

    <div>
      <%= f.submit '入力内容確認' %>
    </div>
  <% end %>
</div>