<div class="container">
  <div class="row">
    <%= render 'public/categories/index', categorys: @categorys %>
    <div class="kokuban-s11 offset-1 col-md-8">
      <h4 class="text-center text-body border-bottom"><%= @category_searched.name %>の投稿一覧</h4>
        <div class="mb-3">
          <%= link_to "新しい順", public_posts_category_search_path %>
          <span class="mx-2">|</span><%= link_to "古い順", public_posts_category_search_path(sort_create: "true") %><br>
        </div>
        <%= render 'public/posts/index', post: @posts %>
    </div>
  </div>
</div>
