<div class="container">
  <div class="row mt-5">
    <div class="kokuban-s9 col-12">
      <h3 class="col-12 text-white">投稿編集</h3>
      <%= form_with model:@post, url: public_post_path, local: true do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>

        <div class="row form-group ml-1">
          <%= f.label :カテゴリー, class: "offset-1 mr-5 mt-4" %>
          <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: "選択して下さい" %>
        </div>

        <div class="row form-group">
          <%= f.label :タイトル, class: "offset-1 col-11 mt-3" %>
          <%= f.text_field :title, class: "offset-1" %>
        </div>

        <div class="row form-group">
          <%= f.label"タグ", class: "offset-1 col-11 mt-3" %>
          <%= f.text_field :name, placeholder: ",で区切ると複数タグ登録できます", value: @tag_list, class: "offset-1" %>
        </div>

        <div class="row form-group">
          <%= f.label :投稿内容, class: "offset-1 col-11 mt-3"%>
          <%= f.text_area :body, class: "offset-1" %>
        </div>

        <div class="form-group">
          <%= f.submit "投稿内容を変更する", class: 'offset-1' %>
        </div>

      <% end %>
    </div>
  </div>
</div>