<div class="container">
  <div class="row">
     <div class="kokuban-s10 col-md-3">
       <h4 class="text-body text-center">カテゴリー</h4><br>
       <% @categorys.each do |category| %>
         <%= category.name %>
       <% end %>
    </div>
    <div class="kokuban-s10 offset-1 col-md-8">
      <% @posts.each do |post| %>
        <%= link_to public_customer_path(post.customer) do %>
        <%= attachment_image_tag post.customer, :profile_image, size: "50x50", fallback: "no_image.jpg", class: "top-page-profile-image" %>
          <span><%= post.customer.name %></span>
          <span>さんが投稿</span><br>
          <%= link_to public_post_path(post.id) do %>
            <p class="top-page-post-title my-4 text-body h5"><%= post.title %></p><br>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>