<div class="container">
  <div class="row">
    <div class="kokuban-s13 col-md-3">
      <h4 class="text-body text-center">カテゴリー</h4><br>
      <% @categorys.each do |category| %>
        <div class="mt-3">
          ・<%= link_to category.name, public_posts_category_search_path(category) %>
        </div><br>
      <% end %>
    </div>
    <div class="kokuban-s13 offset-1 col-md-8">
      <h4 class="text-body text-center border-bottom"><span class="fa fa-tag"></span><%= @tag.name %>の投稿一覧</h4><br>
      <% @posts.each do |post| %>
        <%= link_to public_customer_path(post.customer) do %>
          <%= attachment_image_tag post.customer, :profile_image, size: "50x50", fallback: "no_image.jpg", class: "top-page-profile-image" %>
          <span><%= post.customer.name %></span>
          <span>さんが投稿</span><br>
        <% end %>
        <%= link_to public_post_path(post.id) do %>
          <p class="top-page-post-title mt-3 h5"><%= post.title %></p><br>
        <% end %>
        <div class="fas fa-tag border-bottom tag-name">
          <% post.tags.each do |tag| %>
            <%= link_to tag.name, public_tag_search_path(tag_id: tag.id) %><%="," %>
          <% end %>
        </div><br>
      <% end %>
      <%= paginate @posts %>
    </div>
  </div>
</div>

