<div class="top-container">
  <div id="container">
    <div id="theTarget">
      <div class="top-image1"></div>
      <div class="top-image2"></div>
      <div class="top-image3"></div>
      <div class="top-image4"></div>
      <div class="top-image5"></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
     <div class="kokuban-s0 col-md-3">
       <h4 class="text-body text-center">カテゴリー</h4><br>
       <% @categorys.each do |category| %>
         <%= category.name %>
       <% end %>
    </div>
    <div class="kokuban-s0 offset-1 col-md-8">
      <h4 class="text-body text-center">すべての投稿</h4><br>
    </div>
    <div class="kokuban-s00 offset-4 col-md-8 mt-3">
      <% @posts.each do |post| %>
        <%= link_to public_customer_path(post.customer) do %>
        　<%= attachment_image_tag post.customer, :profile_image, size: "50x50", fallback: "no_image.jpg", class: "top-page-profile-image" %>
          <span><%= post.customer.name %></span>
          <span>さんが投稿</span><br>
          <%= link_to public_post_path(post.id) do %>
            <p class="my-4 text-body h5"><%= post.title %></p><br>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>