<div class="container">
  <div class="row mt-3">
    <div class="kokuban-s3 mt-3">
    <h2 class="col-12 text-white">新規ユーザー登録</h2>
    <%= form_with model: @customer, url: customer_registration_path, local: true do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>

      <div class="field row form-group mt-3">
        <%= f.label :プロフィール画像, class: "col-12" %>
        <%= f.attachment_field :profile_image %>
      </div>

      <div class="field form-group row">
        <%= f.label :ユーザー名, class: "col-12" %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>

      <div class="field form-group row">
        <%= f.label :自己紹介（100文字以内）, class: "col-12" %><br />
        <%= f.text_area :introduction, autofocus: true %>
      </div>

      <div class="field form-group row">
        <%= f.label :メールアドレス, class: "col-12" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field form-group row">
        <%= f.label :パスワード（6文字以上）, class: "col-12" %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field form-group row">
        <%= f.label :パスワード（確認用）, class: "col-12" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="row">
        <%= f.submit "新規登録", class: "text-white" %>
      </div>

      <div class="mt-3 row">
        <h5 class="text-white">既に登録済みの方は</h5>
        <h5 class="text-white"><%= link_to "こちら", customer_session_path, class: "text-white" %> からログインしてください。</h5>
      </div>
      </div>
    <% end %>
  </div>
</div>
