<!DOCTYPE html>
<html>
  <head>
    <title>NewEmployee</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light mt-4">
        <div class="container">
          <%= link_to root_path, class:"navbar-brand text-white", style: "text-decoration: none;" do %>
            <h2>NewEmployee</h2>
          <% end %>
          <%= form_with url: public_word_search_path, method: :get, local: true do |f| %>
            <div class="input-group word-search">
              <%= f.text_field :keyword, placeholder: "スペースで複数の条件で検索できます", class: "form-control" %>
              <span class="input-group-append">
                <%= button_tag type: 'submit', class: "btn btn-outline-secondary text-white" do %>
                  <i class="fas fa-search"></i>
                <% end %>
              </span>
            </div>
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if customer_signed_in? %>
                <li><%= link_to 'マイページ', public_customer_path(current_customer.id), class:"nav-link text-white" %></li>
                <li><%= link_to '投稿一覧', public_posts_path, class:"nav-link text-white" %></li>
                <li><%= link_to '投稿する', new_public_post_path, class:"nav-link text-white" %></li>
                <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class:"nav-link text-white" %></li>
                <li><%= link_to "お問い合わせ", new_public_contact_path, class:"nav-link text-white" %></li>
              <% else %>
                <li><%= link_to 'About', about_path, class:"nav-link text-white" %></li>
                <li><%= link_to '投稿一覧', public_posts_path, class:"nav-link text-white" %></li>
                <li><%= link_to "新規登録", new_customer_registration_path, class:"nav-link text-white" %></li>
                <li><%= link_to "ログイン", new_customer_session_path, class:"nav-link text-white" %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
    <footer>
    </footer>
  </body>
</html>
